#wraper{
	margin-left: auto;
	margin-right: auto;
	min-width: 1611px;

	}

#wrapper {
	height: 80px;
	margin:5px;
	padding: 5px;
	font-size: 14px;


	



   
}
#images , #gmail, #connect{
	float:right;
	margin:5px;
	padding: 5px;
	font-family: arial,sans-serif;
	

}
#app{
	float:right;
	margin:3px;
	padding: 5px;
}
#wrapper button{
	background-color: #4285f4;
	border: solid;
	border-color:  #4285f4;
	color:white;
	font-weight: bold;
	border-radius: 2px;
	height: 35px;

}
#connect{
	float:right;
	margin:3px;
	padding: 0;
}
#wrapper a{
	text-decoration: none;
	color: #000;

}

#mid{
	margin-right: 25%;
	margin-left: 25%;
	height: 150px;
	width: 50%;
	

}
#gog img {
	margin:auto;
	margin-top: 10%;
	
	display: block;
	
}

#gog{
	height: 150px;
	position: relative;
}

    

#ro{
	//border:1px solid black;
	text-align: center;
	width: 80px;
	bottom: 17%;
	left: 63%;
	position: absolute;
	color: #4285f4;
	font: 20px arial;

	


	
}
#ro p{
	padding: 1px;
	margin: 1px;
	
}
#srch input{

	width: 696px;
	height: 28px;
	border: 1px solid #4285f4;
}
#srch{
	
	position: relative;
	bottom: -30%;
	min-width: 700px;
	left: 12%;
	margin: 0px;
}


#cg button{

	background-color: #f2f2f2;
	border: solid;
	border-color: #f2f2f2;
	color:#737373;
	font-weight: bold;
	border-radius: 2px;
	height: 35px;
	font-family: arial,sans-serif;

}
#lucky button{

	background-color: #f2f2f2;
	border: solid;
	border-color:  #f2f2f2;
	color:#737373;
	font-weight: bold;
	border-radius: 2px;
	height: 35px;
	font-family: arial,sans-serif;
	


}

#lucky{
	left: 380px;
	position: absolute;
	overflow-x:hidden; 
	overflow-y: hidden;

}
#cg{
	position: relative;
	left: 200px;
	top:35px;

}
#lucky a{
	text-decoration: none;
	color: #737373;

}





#bbar{
	height: 40px;
	clear:both;
	background-color: #e6e6e6;
	min-width: 1611px;
	position: absolute;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    font-family: arial,sans-serif;
    font-size: 14px;

}
#pub ,#companii, #despre{
	margin:5px;
	padding: 5px;
	float: left;
}
#conf , #terms , #set{
	margin:5px;
	padding: 5px;
	float: right;
}

#bbar a{
	text-decoration: none;
	color: #666;
}










html {
    margin: 0;
    height: 100%;
}
