img{
	display: block;
	margin: 0 auto;
}



#gmail{
	text-align: right;
	margin-top: 5px;
	position: relative;
	bottom: 410px;
	right: 150px;
	font-size: 15px;
	
}

#imagini{
	text-align: right;
	margin-top: 5px;
	position: relative;
	bottom: 442px;
	right: 85px;
	font-size: 15px;
	


}